@font-face {
    font-family: 'iconfont';
    src: url('./iconfont.woff');
    font-weight: normal;
    font-style: normal;
}
.iconfont{
    font-family: iconfont;
    font-style: normal;
}
.home:before {
    content: "\E62A"
}

.activity:before {
    content: "\E62E"
}

.acc_out:before {
    content: "\E631"
}

.money-in:before {
    content: "\E633"
}

.find:before {
    content: "\E627"
}
.unfold:after {
    content: "\E601";
}
.right:after {
    content: "\E60E";
}
.back:after {
    content: "\E60A";
}
.A_PK10:after {
    content: "\E853";
}
.A_SSC:after {
    content: "\E658";
}
.A_KLC:after {
    content: "\E657";
}
.A_SIX:after {
    content: "\E6A7";
}
.L_PK10:before {
    content: "\E668";
    color: #f96e00
}
.L_SSC:before {
    content: "\E65F";
    color: #f96e00
}
.L_LHC:before {
    content: "\E663";
    color: #f96e00
}
.L_KLC:before {
    content: "\E657";
    color: #f96e00
}
.L_KL8:before {
    content: "\E662";
    color: #fc5826;
}
.L_K3:before {
    content: "\E65B";
    color: #e41404;
}
.L_X115:before {
    content: "\E65D";
    color: #218ddd;
}
.L_DPC:before {
    content: "\E65C";
    color: #00b7ee;
}
.L_KL10:before {
    content: "\E852";
    color: #fc5826;
}
